
.DS_Store
.env
.env.*.local
.env.local
.next/
*.pem
# dependencies
# env files
# misc
# Next.js
# production build
# TypeScript
build/
next-env.d.ts
node_modules/
npm-debug.log*
out/
tsconfig.tsbuildinfo
yarn-debug.log*
yarn-error.log*
